@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* ---------------------------------------------header*/

body {
    font-family: "Exo";
    color: #777777;
}

.navbar-custom {
    background-color: #333333;
}


#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

/* ---------------------------------------------hero image*/


body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}


.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.caption {
    background-color: rgb(30, 97, 222, 0.4);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
  height: 40rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 40rem;
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0; 
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


@media (min-width: 40em) {
  .carousel-caption h1 {
    margin-bottom: 20rem;
    font-size: 2rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* ---------------------------------------------about/meet*/

h1, h3, h2, h4, h5 {
    font-family: "Exo", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.about-heading {
    border-bottom: 1px solid;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.about {
    color: #000000;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
}

.about-info {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}

.our-team {
    margin-top: 10px;
    padding-bottom: 20px;
}

.team {
   margin-top: 5px;
   margin-bottom: 5px;
   color: #000000;
   font-family: "Exo", sans-serif;
}



.meet-icon {
    margin-top: 5px;
    margin-bottom: 5px;
}

.history {
    color: #000000;
    margin-left: 40px;
    margin-right: 40px;
}

.who-we-are {
    color: #000000;
    margin-left: 40px;
    margin-right: 40px;
}

.what-we-do {
    color: #000000;
    margin-left: 40px;
    margin-right: 40px;
}

.heading {
    padding-top: 10px;
}


/* ---------------------------------------------footer*/

footer {
    color: #fafafa;
    padding-top: 25px;
    background-color: #333333;
    display: inline-block;
}

.footer-info {
    font-weight: bold;
    text-align: center;
    color: #fafafa
}

.list-inline-item {
    margin-left: 10px;
    margin-right: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.social-links {
    text-align: center;
    color: #fafafa;
}

p {
    text-align: center;
    color: #fafafa;
}

.copyright { 
    padding-top: 7px;
    margin-bottom: 0;
}

/* ---------------------------------------------product list/order form*/

.table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
    border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

.product-heading {
    margin-top: 30px;
    color: #000000;
}

.product-note {
    font-size: large;
    color: #000000;
}

.product-disclaimer {
    color: #f88037;
    text-align: center;
    padding-bottom: 20px;
}

.order-form {
    font-family: "Exo", sans-serif;
    color: #000000;
    padding-top: 20px;
    display: block;
    text-align: center;
}

/* ---------------------------------------------contact*/

.contact-info {
    font-family: "Exo", sans-serif;
    color: #000000;
    text-align: center;
    margin-top: 30px;
    margin-right: 40px;
}

.contact-details { 
    color: #000000;
    margin-right: 40px;
}


button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}


.form {
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.input-query {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-section {
    margin-top: 25px;
    padding-bottom: 20px;
}


.form-section {
    padding-top: 20px;
}

/* ---------------------------------------------media queries*/

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

